/clase1/tabla_de_multiplicar/nbproject/private/
/clase1/tabla_de_multiplicar/build/
/clase1/Estructura de datos/nbproject/private/
/clase1/Estructuradedatos/nbproject/private/
/clase1/Estructura deDatos/nbproject/private/
/clase1/Estructura de.datos/nbproject/private/
/clase1/Estructura de.datos/build/